# Turn Rewrite Url Engine On
RewriteEngine on

# Rewrite for profile.php
# RewriteRule ^custom$ profile.php [NC,L]

# NC makes the rule non case sensitive
# L makes this the last rule that this specific condition will match

# $ in the regular expression makes the matching stop so that "customblah" will not work

# Rewrite for index.html
  RewriteRule ^index?$ index.html [NC,L]

  # Rewrite for all-projects.html
  RewriteRule ^all-projects?$ all-projects.html [NC,L]
